* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #111111;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5cdaeba6;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h1,
h2 {
    margin: 5px;
}

.chris {
    border: 2px solid aqua !important;
}

.julia {
    border: 2px solid red !important;
}

.prab {
    border: 2px solid purple !important;
}

.container {
    width: 90%;
    border-bottom: 2px solid teal;
    padding: 10px;
    background: white;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

.img {
    width: 100%;
}

header {
    width: 90%;
    border-bottom: 2px solid teal;
}

.members {
    border-bottom: 2px solid teal;
}

.member-names {
    list-style-type: none;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.member-names li {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
}

.project-desc {
    border-bottom: 2px solid teal;
}

.desc {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid teal;
    margin: 5px;
    margin-bottom: 10px;
}

.scene {
    border-bottom: 2px solid teal;
}

.scenes {
    list-style-type: none;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.scene-card {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid teal;
    margin: 5px;
}

.scene-title {
    border-bottom: 2px solid teal;
}

.scene-desc {
    margin-top: 10px;
}

.storyboard {
    /* border-bottom: 2px solid teal; */
}

.storyboard-list {
    list-style-type: none;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.storyboard-list-item {
    width: 30%;
    padding: 10px;
    border: 2px solid teal;
    margin: 10px;
    border-radius: 20px;
}

.storyboard-img {
    width: 100%;
}

.full-wrapper {
    padding: 10px;
    border: 2px solid teal;
    margin: 10px;
    border-radius: 20px;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    .storyboard-list-item {
        width: 38%;
    }
}

@media only screen and (max-width: 768px) {
    .storyboard-list-item {
        width: 100%;
    }
}
